@import "../../../assets/styles/setup/variables";

.moves-list {
    padding: 1rem;
    border-radius: $borderRad1;
    background-color: $clr2;
    > *:not(:last-child) {
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.5rem;
        span {
            color: $clr3;
            margin-inline-end: 0.5rem;
        }
    }

    .move {
        > *:not(:last-child) {
            margin-inline-end: 1rem;
        }

        img {
            width: 20px;
        }

        .transfer-content {
            .at {
                color: $clr5;
                font-size: 1rem;
            }

            .to {
                color: $clr3;
                font-size: 1.2rem;
            }
        }

        .amount {
            color: #1af789;
            font-size: 1.2rem;
        }
    }
}
