@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/mixins";

.home-page {
    color: $clr3;

    > *:not(:last-child) {
        margin-bottom: 1rem;
    }

    .user-status {
        flex-direction: column;
        .user-bitcoin-status {
            width: 300px;
            margin-bottom: 1rem;
            padding: 1rem;
            h1 {
                font-size: 2.5rem;
                color: $clr3;
            }
            > *:not(:last-child) {
                margin-bottom: 1rem;
            }

            .title {
                h3 {
                    font-size: 1.5rem;
                }
                img {
                    width: 30px;
                    margin-inline-end: 1rem;
                }
            }

            .status {
                .break {
                    width: 5px;
                    border-radius: 0.5rem;
                    background-color: $clr4;
                    margin-inline-start: 10px;
                    margin-inline-end: 1rem;
                }

                .currency {
                    h3 {
                        font-size: 3rem;
                    }
                    .dollar-currency {
                        color: $clr5;
                        font-size: 1.5rem;
                    }
                }
            }
            @include for-normal-layout {
                margin-inline-end: 3rem;
            }
        }
        @include for-normal-layout {
            flex-direction: unset;
        }
    }
}
