<section *ngIf="user && bitcoinMktPrice && bitcoinRate" class="home-page container flex column align-center justify-center">
  <div class="user-status flex">
    <div class="user-bitcoin-status flex column">
      <h1>Hello {{user.name}} !</h1>
      <div class="title flex">
        <img src="../../../assets/img/bitcoin-btc-logo.svg" alt="">
        <h3>BTC/USD</h3>
      </div>
      <div class="status flex">
        <div class="break"></div>
        <div class="currency">
          <h3>{{user.coins}}</h3>
          <h3 class="dollar-currency">{{coinsToDollar | currency : 'USD' : 'symbol-narrow'}}</h3>
        </div>
      </div>
    </div>
    <h3 *ngIf="!userMoves || !userMoves.length">No moves for show</h3>
    <moves-list *ngIf="userMoves&& userMoves.length" [moves]="userMoves" title="Your last 3 Moves"></moves-list>
  </div>
<chart [chartData]="bitcoinMktPrice.values | chartValues" [chartTitle]="bitcoinMktPrice.description"></chart>
</section>
<loader *ngIf="!user || !bitcoinMktPrice || !bitcoinRate"></loader>