@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/mixins";

.hamburger{ 
    position: fixed;
    top: 0;
    right: 0.5rem;
    top: 1rem;
    @include for-normal-layout {
        display:none;
    }
}