// Colors
$clr1: #121212; // dark-mode bgc
$clr2: #2a2a2a; // dark-mode preview
$clr3: #fff;
$clr4: #f2931b;
$clr5: #808080;

// Borders

$borderRad1 :0.8rem;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 700px;
$normal-breakpoint: 960px;