<section *ngIf="contact" class="contact-edit container-toggle flex column align-center justify-center">
    <button class="go-back-btn" (click)="onBack()">
        <fa-icon [icon]="faArrowAltCircleLeft" size="2x" [styles]="{'color': '#f2931b'}">
        </fa-icon>
    </button>
    <button *ngIf="contact._id" class="remove-btn" (click)="onDeleteContact()">
        <fa-icon [icon]="faTrash" size="2x" [styles]="{'color': '#f2931b'}"></fa-icon>
    </button>
    <div class="contact-editor flex column align-center">
        <h1>{{title}}</h1>
        <img *ngIf="contact._id" src="https://robohash.org/set_set5/${{contact._id}}?size=200x200" alt="">
        <form (ngSubmit)="onSaveContact()">
            <label for="name">Name</label>
            <input id="name" type="text" placeholder="Name" [(ngModel)]="contact.name" name="name" autofocus required>
            <label for="phone">Phone</label>
            <input id="phone" type="text" placeholder="Phone" [(ngModel)]="contact.phone" name="phone" required>
            <label for="email">Email</label>
            <input id="email" type="text" placeholder="Email" [(ngModel)]="contact.email" name="email" required>
            <button type="submit" class="primary-btn">Save contact</button>
        </form>
    </div>
</section>