@import "../../../assets/styles/setup/variables";

.contact-preview{
    padding: 10px;
    cursor: pointer;
    color: $clr4;
    background-color: $clr2;
    box-shadow: 1px 0px 3px 1px #0000000d;
    border-radius: 0.5rem;
    transition: background-color .3s;

    >*:not(:last-child){
        margin-inline-end: 1rem;
    }

    &:hover{
        background-color: darken($color:  $clr2, $amount: 5);

    }

    .content{
        span{
            color: $clr5;
        }
    }
}